# Ignore node_modules and other directories in the influx_app folder
influx-app/node_modules/
influx-app/.expo/
influx-app/dist/
influx-app/npm-debug.*
influx-app/*.jks
influx-app/*.p8
influx-app/*.p12
influx-app/*.key
influx-app/*.mobileprovision
influx-app/*.orig.*
influx-app/web-build/

# macOS files (no change needed)
.DS_Store